version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.2.3
  node: circleci/node@5.0.3

jobs:
  build:
    parallelism: 1
    docker:
      - image: cimg/ruby:3.3.0-browsers
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          NODE_VERSION: 16.18.1
          PGHOST: 127.0.0.1
          PGUSER: postgres
          RAILS_ENV: test
      - image: cimg/postgres:10.18
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: app_test
          POSTGRES_PASSWORD:

    working_directory: ~/app

    steps:
      - checkout

      - node/install:
          node-version: 21.6.1
          install-yarn: true
          yarn-version: 1.22.16

      - node/install-packages:
          pkg-manager: yarn

      - browser-tools/install-browser-tools:
          install-chrome: false
          install-chromedriver: false

      - run:
          name: Which versions?
          command: |
            bundle -v
            node --version
            yarn --version

      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - bundle-v2-{{ checksum "Gemfile.lock" }}
            - bundle-v2

      - run: # Install Ruby dependencies
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: bundle-v2-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - restore_cache:
          keys:
            - yarn-v1-{{ checksum "yarn.lock" }}
            - yarn-v1-

      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn

      # - run:
      #     name: Yarn Audit
      #     command: yarn audit

      - save_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Database setup
          command: bin/rails db:setup --trace

      - run:
          name: Brakeman
          command: bundle exec brakeman

      - run:
          name: Stylelint
          command: yarn stylelint

      - run:
          name: Rubocop
          command: bundle exec rubocop

      - run:
          name: Haml Lint
          command: bundle exec haml-lint

      - run:
          name: Run rspec in parallel
          command: |
            COVERAGE=true bundle exec rspec
            # DRIVER=firefox bundle exec rspec spec/system
            # DRIVER=chrome bundle exec rspec spec/system
            # bundle exec rspec --profile 10 \
            #                   --format RspecJunitFormatter \
            #                   --out test_results/rspec.xml \
            #                   --format progress \
            #                   $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

      - store_test_results: # https://circleci.com/docs/2.0/collect-test-data/
          path: test_results
